<%# %CoreUI.Spec{
  properties: %{
    "awesomeness_level" => %CoreUI.Spec.IntegerProperty{maximum: 10, minimum: 0},
    "password" => %CoreUI.Spec.StringProperty{},
    "username" => %CoreUI.Spec.StringProperty{}
  },
  required: ["username", "password"]
} %>
<%= form_for @changeset, "#", [as: "form", phx_submit: "save"], fn f -> %>
  <%= for {key, prop} <- @spec.properties do %>
    <%= label f, key, display_name(key) %>
    <%= build_input f, key, prop %>
    <%= error_tag f, key %>
  <% end %>

  <%= submit "Submit" %>
<% end %>
