<%# %CoreUI.Spec{
  properties: %{
    "awesomeness_level" => %CoreUI.Spec.IntegerProperty{maximum: 10, minimum: 0},
    "password" => %CoreUI.Spec.StringProperty{},
    "username" => %CoreUI.Spec.StringProperty{}
  },
  required: ["username", "password"]
} %>
<% opts = [as: "form", phx_change: :validate, phx_submit: :save] %>
<%= form_for @changeset, "#", opts, fn f -> %>
  <%= for {key, prop} <- @spec.properties do %>
    <%= label f, key, display_name(key) %>
    <%= build_input f, key, prop %>
    <%= error_tag f, key %>
  <% end %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
<% end %>

<%= case assigns[:status] do %>
  <% {:ok, data} -> %>
    <p style="font-weight:bold;color:green">Success</p>
    <pre style="padding:2em"><%= inspect(data) %></pre>

  <% :error -> %>
    <p style="font-weight:bold;color:red">Sad face</p>

  <% nil -> %>
<% end %>